feature bgp
router bgp {{local_as}}
  addess-family ipv4 unicast
    network {{adv_route_1}}
    network {{adv_route_2}}
  neighbor {{remote_ip_1}} remote-as {{remote_as_1}}
    update source loopback1
    ebgp-multihop 2
    address-family ipv4 unicast